/***********************************
* Global Style - Background Color  *
************************************/

body {
  padding-left: 30px;
}

/* Hidden Button should stay hidden as default */
button {
  display: none;
}

.webRtcTestDiv div {
  width: 100%;
}

.videoDiv div {
  display: inline-block;
  background-color: green;
  width: 20%;
  height: 100;
}

.canvasDiv div {
  width: 20%;
  height: 100;
  display: inline-block;
  background-color: blue;
}

canvas {
  width: 40%;
  height: 100px;
  background-color: grey;
}

video {
  background-color: grey;
  width: 40%;
}

/**********************
* Global Button Style *
***********************/
ul {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  height: 0px;
}
li {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid;
  border-radius: 10px;
}

/***********************************************
* Button Change Style *
************************************************/
.buttonDiv p {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 15px;
}
.buttonDiv li {
  border-color: black;
}
.buttonDiv li:hover {
  border-color: black;
}
.buttonDiv .selected {
  background-color: blue;
}


/***********************************************
*Psnr Graph
************************************************/
#chart_container {
  position: relative;
  border-top: 10px solid;
  border-left: 10px solid;
  border-bottom: 30px solid;
  border-color: transparent;
  width: 340px;
}

#demo_chart {
  position: relative;
  left: 40px;
}

#y_axis {
  position: absolute;
  top: 0;
  bottom: 10;
  width: 40px;
}
